:root {
    --body-background: rgb(207, 205, 205);
    --container-bakcground: white;
    --base-text-size: 1.5rem;
}

body {
    margin: 0;
    padding: 0;

    height: 100vh;

    display: flex;
    background-color: var(--body-background);

    font-size: var(--base-text-size);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.side-panel {
    background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

.side-content {
    position: relative;
    top: 200px;

    background-color: rgba(0, 0, 0, .3);
    padding: 5px 80px;
}

h1 {
    color: white;
    text-align: center;
}

form {
    margin: 0;
    padding: 0;

    grid-area: content;
}

.input-container {
    background-color: var(--container-bakcground);
    padding: 25px;
    box-shadow: 5px 5px 5px gray;
}

ul {
    list-style: none;
    columns: 2;
}

label, input {
    display: flex;
    flex-direction: column;
}

p, button {
    margin: 25px;
}

button {
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 25px;

    font-size: var(--base-text-size);
}