:root {
    --body-background: #f0f0f0;
    --container-bakcground: white;
    --base-text-size: 1.3rem;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--body-background);
    font-size: var(--base-text-size);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.side-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    width: max(700px, 30%);
}

.side-panel > p {
    align-self: center;
    color: white;
}

.side-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;

    background-color: rgba(0, 0, 0, .5);
    padding: 5px 80px;
}

.side-content > img {
    width: 100px;
}

h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: white;
    text-align: center;

    font-size: 5rem;
}

form {
    width: 100%;
}

.info-container {
    margin-top: 100px;
    margin-bottom: 25px;
}

.input-container {
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: var(--container-bakcground);
    padding: 25px;
    box-shadow: 5px 5px 5px rgb(180, 180, 180);
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;

    list-style: none;
    width: 600px;
}

label {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
    margin: 2px;
}

input {
    -webkit-appearance: none;
    appearance: none;
    margin-bottom: 20px;

    height: 25px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;

    font-size: 1.2rem;
}

input:active,
input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 2px 2px 5px rgb(180, 180, 180);
}

.error {
    border: 1px solid darkred;
}

input + span {
    position: relative;
}

input:required + span::before {
    width: 160px;
    position: absolute;
    top: 32px;
    right: 90px;
    content: "* Passwords do not match.";
    color: darkred;
    font-size: 0.8rem;
}

p, button {
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 15px;
}

button {
    background-color: teal;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;

    font-size: var(--base-text-size);
}

@media only screen and (max-width: 600px) {
    body {
        position: absolute;
        flex-direction: column;
        width: 100vw;
    }

    .side-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
        background-size: cover;
        width: 100%;
        height: 400px;
    }

    .side-content {
        top: 125px;
    }

    .info-container {
        margin-top: 50px;
    }

    ul {
        margin: 0;
        padding: 0;
        display: block;
    
        list-style: none;
        width: 100%;
    }

    label, input {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding-left: 5px;
    }

    label {
        font-size: 1rem;
    }

    input {
        height: 30px;
        margin-bottom: 30px;
    }

    input:required + span::before {
        width: 180px;
        top: 62px;
        right: -184px;
        font-size: 0.9rem;
    }

    .input-container {
        box-shadow: initial;
    }

    .input-container > h2 {
        text-align: center;
    }

    .action-container {
        display: flex;
        flex-direction: column;
        height: 170px;
    }
}