:root {
    --body-background: #f0f0f0;
    --container-bakcground: white;
    --base-text-size: 1.3rem;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--body-background);
    font-size: var(--base-text-size);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.side-panel {
    background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

.side-content {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 500px;
    position: relative;
    top: 200px;

    background-color: rgba(0, 0, 0, .3);
    padding: 5px 80px;
}

.side-content > img {
    width: 100px;
}

h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: white;
    text-align: center;

    font-size: 5rem;
}

form {
    margin: 0;
    padding: 0;
}

.info-container {
    margin-top: 150px;
    margin-bottom: 25px;
}

.input-container {
    background-color: var(--container-bakcground);
    padding: 25px;
    box-shadow: 5px 5px 5px gray;
}

ul {
    list-style: none;
    columns: 2;
}

label, input {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 2px;
}

input {
    margin-bottom: 20px;
}

p, button {
    margin: 25px;
}

button {
    background-color: teal;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;

    font-size: var(--base-text-size);
}